<!DOCTYPE html>
<html>
    <head>
        <title>Takale And Sons</title>
    </head>
    <body>
        <header><img src="/img/logo.jpg" alt="Takale And Sons Logo"></header>
        {{{body}}}
    </body>
</html>